@{  
    //これは変数定義？ViewBag必須なのか？
    //@???もしくは@{}でコード埋め込み
    //<html>とか無いのはSharedフォルダの_Layout.cshtmlでやってるから不要？
    ViewBag.Title = "About";
}
<h2>@ViewBag.age</h2>
<h2>@ViewBag.name</h2>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
